{% extends "base.html" %}
{% load static %}

{% block content %}
		{% for article in entries %}
			<h1>{{ article.title }}</h1>
			<img class="featured-image" src="{{MEDIA_URL}}{{article.title_image}}" alt="featured image">
        	<small>{{ article.timestamp }}</small>
        	<p>
				{{ article.content | safe | truncatewords_html:50 }}
        	</p>
        	<a class="btn" href="{% url 'article-details' slug=article.slug %}">Read More</a>
        	<br>
        	<br>
		{% endfor %}
{% endblock content %}
