{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Find me on </h1>
                <br>           
                <h4> Twitter</h4>
                <a href="https://twitter.com/BahatiPhill"> <img src="{% static 'img/twitter.png' %}" style="width:10; height:10;" > </a>
                <p>&nbsp;</p>
                
               
                <h4> Github</h4>
                <a href="https://github.com/BahatiPhill"><img style="width:10; height:10;" src="{% static 'img/github.png' %}" ></a>
                <p>&nbsp;</p>                                        
                   
                <h4> E-mail</h4>
                <a href="mailto:bahatiphill@gmail.com"><img src="{% static 'img/email.png' %}" style="width:10; height:10;" ></a>
                <p>&nbsp;</p>                        
                
            <br>
                <a href="{% url 'home' %}">Back Home </a>

{% endblock content %}