{% extends "base.html" %}
{% load static %}

{% block metatags %}
<!-- Site Title -->
<title>Contacts | Bahati Phill</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">

{% endblock metatags %}
    {% block content %}
                <br>
                <div class="centering">           
                <a href="https://twitter.com/BahatiPhill"> <img class="img" src="{% static 'img/twitter.png' %}" > </a>
                <p>&nbsp;</p>
                
               
                <a href="https://github.com/BahatiPhill"><img class="img"  src="{% static 'img/github.png' %}" ></a>
                <p>&nbsp;</p>                                        
                   
                <a href="mailto:bahatiphill@gmail.com"><img class="img" src="{% static 'img/email.png' %}" ></a>
                <p>&nbsp;</p>             
                
            <br>
                <a class="btn" href="{% url 'home' %}">Back Home </a>

            </div>

    {% endblock content %}