{% extends "base.html" %}
{% load static %}


{% block content %}

            <h1> Big Boy i'm in the Kitchen </h1>
            <br>
                    <a class="btn" href="{% url 'another_one' %}"> Add new </a>
                    <a class="btn" href="{% url 'logout' %}"> Log out </a>
                    <p>&nbsp;</p>

                    <h4> Latest articles</h4>
                    <p>&nbsp;</p>            
                    
                    
                    {% for article in articles %}
                    <h3> {{article.title}} <a href="{% url 'article-edit' slug=article.slug %}"> edit </a> </h3>
                    <span>{{ article.timestamp}}</span>
                    
                    <br>

                    {% endfor %}

        <br>
            <a href="{% url 'home' %}">Back Home </a>
 
{% endblock %}