{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- start banner Area -->
				<section class="banner-area relative" id="home">	
					<div class="overlay overlay-bg"></div>
					<div class="container">
						<div class="row fullscreen d-flex align-items-center justify-content-center">
							<div class="banner-content col-lg-10">
								<h5 class="text-uppercase">From The Depths Of The Sea</h5>
								<h1>
									Let’s Explore Ideas!				
								</h1>
								<a href="{% url 'blog' %}" class="primary-btn text-uppercase" style="font-family: 'Poppins', sans-serif;">Blog</a>
								<p>&nbsp;</p>
								<a href="{% url 'contacts' %}" class="primary-btn text-uppercase" style="font-family: 'Poppins', sans-serif;">Contacts</a>
							</div>											
						</div>
					</div>
				</section>
<!-- End banner Area -->

{% endblock content %}
